body {
    background-color: coral;
}

.container{
    height: 70%;
    width: 100%;
    margin-top: 10px;
    position: relative;
    padding: 20px;
}

.navbar {
    box-sizing: border-box;
    display:block;
    float: left;
    height: 20em;
    margin: 10px;
    width: 10em;
    background-color: aquamarine;
    border: 1px solid blue;

}

:root{
    --grid-rows: 1;
    --grid-cols: 1;
}

.grid-container {
    display: grid;
    margin: 10px;
    border: 1px solid black;
    height: 35em;
    width: 35em;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

