body {
    background-color: coral;
}

.container{
    height: 70%;
    width: 100%;
    margin-top: 10px;
    position: relative;
    padding: 20px;
}

.navbar {
    box-sizing: border-box;
    display:inline-block;
    float: left;
    height: 30em;
    margin: 10px 100px 10px 10px;
    width: 15em;
    background-color: aquamarine;
    border: 1px solid blue;

}
.nav-buttons {
    padding: 10px;
    text-align: center;
}

:root{
    --grid-rows: 1;
    --grid-cols: 1;
}

.grid-container {
    position: center;
    display: grid;
    margin: 10px;
    /* border: 1px solid black; */
    height: 35em;
    width: 35em;
 /*   grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

